  </div>
  {{#quotation}}
    <div style="padding-top: 2em; padding-bottom: 1em; text-align: center; color: #CCCCCC; font-size: small;">"{{quotation}}"<br/>- {{quotationAuthor}}</div>
  {{/quotation}}
  {{#logoFooter}}
    <div style="padding-bottom: 2em; padding-top: 1em; text-align: center;">
      <img width="109" height="32" src="https://res.cloudinary.com/ipsator/image/upload/c_scale,f_auto,h_32,q_auto:best,w_109/v1498128306/ipsatorlogo_hj3qqu.png"/>
    </div>
  {{/logoFooter}}
</body>
</html>
